html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: arial, calibri, verdana;
	background-color: red;
	width: 100%;
}

.container {
	width: inherit;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	box-sizing: border-box;
	padding: 0px;
	display: grid;
	grid-template-areas: "header header "
							"main aside";
	grid-template-columns: auto 300px;
	grid-template-rows: 175px auto;
	grid-gap: 0px;			
}

main {
	bottom: 0;
	width: 100%;
	margin-top: 0px;
	grid-area: main;
	background-color: unset;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-family: 'Roboto', sans-serif;
}


#jenis-komoditas {
	text-transform: uppercase;
}

#tanggal {
	text-transform: uppercase;
}

#mapid {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	position: absolute;
	z-index: 0;
}

main .option {
	position: absolute;
	top: 10px;
	right: 150px;
	z-index: 1;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 2px 2px rgba(0,0,0,0.1);
	padding: 5px;
	border-radius: 3px;
}

main .option label {
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

main .option select {
	border-radius: 4px;
	font-size: 16px;
	padding: 2px 4px;
	background-color: rgba(255,255,255,0.4);
} 

main .legenda {
	position: absolute;
	background-color: rgba(255,255,255,0.6);
	bottom: 10px;
	left: 10px;
	z-index: 1;
	padding: 10px 12px;
	border-radius: 6px;
	text-align: left;
	min-width: 100px;
	box-shadow: 2px 2px rgba(0,0,0,0.1);
}

main .legenda img {
	height: 30px;
}

main .legenda ul {
	list-style-type: none;
	padding-left: 0px;
	font-size: 13px;
	margin: auto;
}

main .legenda ul li {
	padding-bottom: 4px;
	position: relative;
}

main .legenda ul li label {
	bottom: 10px;
	position: relative;
}

main .info-peta {
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 1;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	background-color: rgba(255,255,255,0.6);
	padding: 7px;
	border-radius: 3px;
	box-shadow: 2px 2px rgba(0,0,0,0.1);
}

.container header {
	grid-area: header;
	max-height: 175px;
	background-color: #0093dd;
	vertical-align: center;
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
	position: relative;
}

.container header img {
	width: 540px;
	padding: 8px 25px;
	position: relative;
	float: left;
}

nav {
     background-color: #333;
     width: 100%;
     height: 45px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

nav a {
	font-size: 16px;
	color: #ccc;
	text-align: center;
	text-decoration: none;
	margin-left: 20px;
	display: flex;
	letter-spacing: 1px;
}

nav .nav1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 2;
	order: 1;
	background-color: inherit;
	height: 45px;
}

.nav-group {
	display: none;
}

nav .nav2 {
	flex: 2;
	order: 2;
	margin: auto;
	background-color: inherit;
	text-align: right;
}

.nav2 input{
	color: #ccc;
	border-radius: 4px;
	padding: 7px 40px 7px 5px;
	text-decoration: none;
	font-size: 14px;
}

.nav2 button {
	padding: 0px 0px 0px 0px;
	width: 30px;
	height: 30px;
	color: white;
	border: none;
	outline: none;
	background-color: inherit;
	border-radius: 100%;
}

.nav2 button:hover {
	background-color: #666;
}

.container header marquee {
	background-color: #777; /*#75cff0;/* #fff500;*/
	width: 100%;
	position: relative;
	padding-bottom: 6px;
}

.container header marquee a {
	color: #eee;
	text-decoration-line: none;
	font-size: 12px;
	font-weight: bold;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn {
	color: #fff;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

.dropdown-content a {
	margin: 0;
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: inherit;
}

.dropdown-content a:hover {
	background-color: #333;
}

.dropdown:hover .dropdown-content {
	display: block;
}


.container header span:hover {
	animation-play-paused;
}

@keyframes runningText {
	from {left: -500px;}
	to {left: 1000px;}
}


aside {
	grid-area: aside;
	background-color: #333;
	padding: 10px 1px;
	display: block;
	position: static;
	text-align: center;
}

aside iframe {
	width: 100%;
	border: none;
	border-radius: 6px;
	padding-top: 0px;
	margin-top: 0px;
}

aside a {
	color: #fff;
	text-decoration: none;
}


footer {
	grid-area: footer;
	background-color: #0093dd;
	color: #333;
	padding: 10px 0px;
}


@media (max-width: 760px) {
	.container header img {
		width: 400px;
		padding-left: 30px;
	}

	.container {
		grid-template-areas: "header"
							 "main"
							 "aside";
		grid-template-columns: auto;
		grid-template-rows: 151px 600px 200px;
		grid-gap: 0px;	
		bottom: unset;		
	}

	nav .nav1 {
		display: none;
	}

	.nav-group {
	display: block;
}
}