.cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  top: 30px;
  height: 100vh;
}

/* #canvas {
  background-color: blueviolet;
  height: 100%;
  width: 80%;
} */
